.homebackground {
  background-image: url("/assets/images/backgroundone.jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  position: fixed;
  z-index: -1;
}
img {
  &.itemlisting, &.profileList  {
      border-radius: 2%;
      height: 220px;
      width: 200px;
      overflow: hidden;
      border: 0.5px solid lightgrey;
      background-color: white;
    }
    &.icon {
      height: auto;
      float: left;
      cursor: pointer;
    }
    &.itemShow {
      height: 220px;
      width: 200px;
      overflow: hidden;
      background-color: white;
      border-radius: 5%;
  }
}
.drag-drop {
  min-height: 200px;
  width: 200px;
  background-color: grey;
  border-radius: 5px;
  line-height: 0px;
  color: white;
  text-align: center;
}
