.homebackground {
  background-image: url("/assets/images/backgroundone.jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  position: fixed;
  z-index: -1;
}
img {
  &.itemlisting, &.profileList  {
      height: 220px;
      width: 200px;
      overflow: hidden;
      border: 0.5px solid lightgrey;
      background-color: white;
    }
    &.icon {
      height: auto;
      float: left;
      cursor: pointer;
    }
    &.itemShow {
      height: 220px;
      width: 200px;
      overflow: hidden;
      background-color: white;
  }
    &.itemsIndex-image, &.itemsIndex {
      height: 220px;
      width: 200px;
      overflow: hidden;
      background-color: white;
    }
}
.drag-drop {
  min-height: 200px;
  width: 200px;
  background-color: yellow;
  border-radius: 5px;
  line-height: 0px;
  color: white;
  text-align: center;

}

.usersIndex {
  .itemsIndex-image {
    background-size: cover;
  }
}

.itemsIndex-image {
  background-color: white;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.six.columns {
  &:nth-child(2n+1) {
    clear: left;
    margin-left: 0;
    img {
      width: 100%;
    }
  }
}
