<section>
  <form novalidate ng-submit="itemsEdit.update()">

    <div class="twelve columns">
      <label>Image</label>

      <drag-drop base64="itemsEdit.item.base64" src="itemsEdit.item.image">Add New Image</drag-drop>
    </div>

    <div>
      <label>Description</label>
      <input type="text" placeholder="description" ng-model="itemsEdit.item.description">
    </div>
    <div>
      <label>Condition</label>
      <input type="text" placeholder="condition" ng-model="itemsEdit.item.condition">
    </div>
    <div>
      <label>Size</label>
      <input type="text" placeholder="size" ng-model="itemsEdit.item.size">
    </div>

    <button>Update</button>
  </form>
</section>
