<h1>My Requests</h1>

<ul>

  <li ng-repeat="myRequest in requestsOffers.myRequests">
    Request: {{myRequest.request.description}}<br>
    Offer: {{myRequest.offer.description}}
    <button ng-click="button">Cancel Request</button>
  </li>

</ul>

<h1>My Offers</h1>

<ul>
  <li ng-repeat="myOffer in requestsOffers.myOffers">
    Request: {{myOffer.request.description}}<br>
    Offer: {{myOffer.offer.description}}
    <button ng-click="button">Accept</button>
    <button ng-click="button">Decline</button>
  </li>
</ul>
