<h1> User Profile </h1>
<div class="row">
  <div class="six columns">
    <img class="userProfile-image" ng-src="{{ usersShow.user.image }}">
  </div>
  <div class="six columns">
    <p>{{ usersShow.user.username }}</p>
    <p>{{ usersShow.user.email }}</p>
    <p><strong>Bio: {{ usersShow.user.bio }}</strong></p>
    <p>Dress Size: {{ usersShow.user.dress_size }}</p>
    <p>Shoe Size: {{ usersShow.user.shoe_size }}</p>

    <button ng-if="usersShow.isLoggedIn() && usersShow.isCurrentUser()" ui-sref="usersEdit({ id: usersShow.user.id })">Edit</button>

    <button ng-if="usersShow.isCurrentUser() && usersShow.isLoggedIn()"
    ui-sref="usersShow.delete({ id: usersShow.user.id })">Delete</button>

    <button ng-if="usersShow.isCurrentUser() && usersShow.isLoggedIn()"
    ui-sref="itemsNew">Add a new Item</button>

    <button ng-if="!usersShow.isCurrentUser()"><a href="mailto:{{usersShow.user.email}}">Contact me to arrange your swap!</a></button>

  </div>
</div>
<div class="row">
    <ng-if="usersShow.isCurrentUser() && usersShow.isLoggedIn()">
    <ul style="list-style:none">
      <li ng-repeat="item in usersShow.user.items">
        <div class="six columns">
          <img class="itemsIndex-image" ng-src="{{ item.image }}">
        </div>
        <div class="six columns">
          <h4>{{ item.description }}</h4>
          <h4>{{ item.condition }}</h4>
          <h4>{{ item.size }}</h4>
        </div>
      </li>
    </ul>
  </div>
</div>
