<section>
  <h1>Items Show One</h1>

      <img ng-src="{{ itemsShow.item.image }}">
      <h4>{{ itemsShow.item.description }}</h4>
      <h4>{{ itemsShow.item.condition }}</h4>
      <h4>{{ itemsShow.item.size }}</h4>


      <button ng-if="itemsShow.isLoggedIn() && itemsShow.isCurrentUser()" ui-sref="itemsEdit({ id: itemsShow.item.id })">Edit</button>

      <button ng-if="itemsShow.isCurrentUser() && itemsShow.isLoggedIn()"
      ui-sref="itemsEdit({ id: itemsShow.item.id })">Delete</button>

</section>

New Swap: {{ itemsShow.newSwap }}
<br>
<button ng-click="itemsShow.toggleForm()">I want this!</button>
<!-- Current User: {{itemsShow.user}} -->
<form ng-submit="itemsShow.createSwap()" ng-show="itemsShow.formVisible">
  Choose from these items to swap:
  <ul>
    <li ng-repeat="item in itemsShow.user.items" ng-class="{'alreadyOffered': item.alreadyOffered}">
      <a role="button" ng-click="itemsShow.selectOffer(item)">{{ item.description}}</a>
    </li>
  </ul>
  <input type="submit" value="Swap!">
</form>
