<h3>{{ usersShow.user.username }}</h3>
    <hr>
<div class="row">
  <div class="six columns">
    <img class="userProfile-image" ng-src="{{ usersShow.user.image }}">
  </div>
  <div class="six columns">
    <!-- <p></p> -->
    <p>Email: {{ usersShow.user.email }}</p><br>
    <p>Bio:<br> {{ usersShow.user.bio }}</p><br>
    <p>Dress Size: {{ usersShow.user.dress_size }}</p><br>
    <p>Shoe Size: {{ usersShow.user.shoe_size }}</p>

    <br>

    <button ng-if="usersShow.isLoggedIn() && usersShow.isCurrentUser()" ui-sref="usersEdit({ id: usersShow.user.id })">Edit</button>

    <button ng-if="usersShow.isCurrentUser() && usersShow.isLoggedIn()"
    ui-sref="usersShow.delete({ id: usersShow.user.id })">Delete</button>

    <button ng-if="usersShow.isCurrentUser() && usersShow.isLoggedIn()"
    ui-sref="itemsNew">Add a new Item</button>

    <button ng-if="!usersShow.isCurrentUser()"><a href="mailto:{{usersShow.user.email}}">Contact me to arrange your swap!</a></button>

  </div>
</div>
<div class="row">
  <ng-if="usersShow.isCurrentUser() && usersShow.isLoggedIn()">
  <ul style="list-style:none">
    <li ng-repeat="item in usersShow.user.items">
      <div class="six columns">
        <img ng-src="{{ item.image }}">
      </div>
      <div class="six columns">
        <br>
        <p>Description:<br> {{ item.description }}</p>
        <p>Condition: {{ item.condition }}</p>
        <p>Size: {{ item.size }}</p>
        <!-- <button ng-if="usersShow.isLoggedIn() && usersShow.isCurrentUser()">
          <img src="itemsEdit.item.image">Edit</button> -->
      </div>
    </li>
  </ul>
</div>
</div>
