<section>
  <h1>Profile Page</h1>

  <!-- show here: {{ usersProfile.user.username }} -->

  <img class="profile" ng-src="{{ usersProfile.user.image }}">
  <h2>{{ user.username }}</h2>
  <h4>{{ user.email }}</h4>
  <h4>{{ user.bio }}</h4>
  <h4>{{ user.dress_size }}</h4>
  <h4>{{ user.shoe_size }}</h4>


  <button ng-if="usersShow.isLoggedIn() && usersShow.isCurrentUser()" ui-sref="usersEdit({ id: usersShow.user.id })">Edit</button>

  <button ng-if="usersShow.isCurrentUser() && usersShow.isLoggedIn()"
  ui-sref="usersEdit({ id: usersShow.user.id })">Delete</button>

  <button ng-if="usersShow.isCurrentUser() && usersShow.isLoggedIn()"
  ui-sref="itemsNew">Add a new Item</button>
