@import 'partials/forms';
@import 'partials/buttons';
@import 'partials/navs';

body {
  background-color: azure;
}

.alreadyOffered {
  a {
    text-decoration: line-through;
    cursor: default;
    color: grey;
    opacity: 0.5;
  }
}
